<h1>Editing comments</h1>

<% form_for(@comments) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @comments %> |
<%= link_to 'Back', comments_path %>
